.texto {
    color:darkgreen;
    text-shadow: rgb(40, 146, 44) 1px 0 10px;
}


img{
    border:3px solid rgb(14, 113, 179);
}

.comedia {
    color:rgb(40, 51, 146)
}
.scifi {
    color:rgb(147, 155, 38)
}
.accion {
    color:rgb(40, 51, 146)
}